@mixin clearfix {
	&:after, &:before {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin placeholder($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-input-placeholder {
		color: $color;
	}
	&::-moz-input-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}